<div class="mt-5">
  <button class="btn btn-outline-primary me-2" (click)="get500Error()">Test 500 Error</button>
  <button class="btn btn-outline-primary me-2" (click)="get404Error()">Test 404 Error</button>
  <button class="btn btn-outline-primary me-2" (click)="get400Error()">Test 400 Error</button>
  <button class="btn btn-outline-primary me-2" (click)="get400ValidationError()">Test 400 Validation Error</button>

  <div class="row mt-5" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{error}}
      </li>
    </ul>
  </div>
</div>
