<div class="d-flex flex-column flex-md-row align-items-center
  justify-content-between pb-sm-3 mb-sm-4 mt-sm-3
  border-bottom shadow-sm fixed-top">
  <img src="/assets/images/logo.png" style="max-height: 70px;" class="ms-3" alt="logo">
  <!-- <h5 class=" mr-md-0 mr-md-3">Company name</h5> -->
  <nav class="mt-2 mt-md-0 ms-md-0 text-uppercase" style="font-size: larger;">
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Shop</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Contact</a>
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary me-2 py-2" href="#">Login</a>
    <a class="btn btn-outline-secondary me-3 py-2" href="#">Sign up</a>
  </div>
</div>
