<header class="d-flex flex-column flex-md-row align-items-center justify-content-between
  p-3 px-md-4 mb-3 bg-white
  border-bottom shadow-sm fixed-top">
  <img src="/assets/images/logo.png" style="max-height: 70px;" class="logo" alt="logo" routerLink='/'>
  <nav class="my-2 mt-md-0 ms-md-3 text-uppercase" style="font-size: larger;">
    <a class="me-3 py-2" [routerLink]="['/']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="me-3 py-2" routerLink='/shop' routerLinkActive="active">Shop</a>
    <a class="me-3 py-2" routerLink='/test-error' routerLinkActive="active">Errors</a>
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary me-2 py-2" href="#">Login</a>
    <a class="btn btn-outline-secondary me-3 py-2" href="#">Sign up</a>
  </div>
</header>
